
<!-- Christmas section-->
<section  id="christmas">

  <div class="christmasContainer">
    <div class="container-fluid">

      <div class="text-center">

        <div class=" " style="color: darkred">
          <h2 class="section-heading">Christmas at TABLE</h2>
          <strong class="subHeader">
            Sunday 9 Dec, 7pm - Carols at the Tree
          </strong><br>
          <strong class="subHeader">
            Friday 14 Dec, 7-10pm - Open Night
          </strong><br>
          <strong class="subHeader">
            Sunday 16 Dec, 6:30pm - Carol Service
          </strong><br>
          <strong class="subHeader">
            Christmas Day, 10am - Breakfast & Carols
          </strong><br>
          <strong class="subHeader">
            New Year's Eve, 10pm - Prayer & Worship
          </strong>
        </div>

      </div>

    </div>
  </div>


</section>


