
<!-- Christmas section-->
<section  id="christmas">

  <div class="christmasContainer">
    <div class="container-fluid">

      <div class="text-center">

        <div class=" " style="color: darkred">
          <h2 class="section-heading">Christmas At TABLE</h2>
          <strong class="subHeader">
            Carol Service - Sunday 17th Dec, 6:30pm
          </strong><br>
          <strong class="subHeader">
            Christmas Open Night - Tuesday 19th Dec, 7-10pm
          </strong><br>
          <strong class="subHeader">
            Christmas Eve Service - Sunday 24th Dec, 10:45am
          </strong><br>
          <strong class="subHeader">
            Christmas Day Breakfast & Praise - Monday 25th Dec, 10am
          </strong>
        </div>

      </div>

    </div>
  </div>


</section>


