 <!--Table tots partial-->
<section>
  <div class="container">
        <h2 class="section-heading">TABLE Tots</h2>

        <p>Table Tots is our new mother and toddler group and we would like to make everyone welcome on a
          Thursday morning from 10am-12pm. At Table Tots we hope everyone forms new friendships and
          that the children also have fun whilst playing with friends. We love reaching out to the
          community and hope to provide a happy, safe environment for everyone.
        </p>



  </div>
</section>
