 <!--Discipleship partial-->
<section id="discipleship">
  <div class="container">
      <div class="">
        <h2 class="section-heading">Discipleship</h2>

        <h4 class="subHeader">“Make disciples” – Jesus (Matt 28:19)</h4>

        <p>Discipleship Groups meet weekly in groups of three
          for an hour and use following structure to discuss what
          they have read in God’s Word, ask each other character
          questions and pray for one another.</p>


        <div class="discipleshipGuide">
          <a href="https://tabletandragee.org/Docs/DiscipleshipGroups.pdf" target="_blank">
            <i class="fa fa-5x fa-file-pdf-o"> </i>
            <p>
              Discipleship Guide
            </p>
          </a>
        </div>

    </div>
  </div>
</section>
