 <!--Calendar partial-->
<section>
  <div class="container">
    <h2 class="section-heading">Calendar</h2>
    <!--<iframe src="https://calendar.google.com/calendar/embed?showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=1000&amp;wkst=2&amp;bgcolor=%2333ccff&amp;src=mtsm7c3ir59mlqk2ik9rh29f34%40group.calendar.google.com&amp;color=%23B1365F&amp;ctz=Europe%2FLondon" style="border:solid 1px #777" width="1600" height="1000" frameborder="0" scrolling="no"></iframe>-->

  </div>
</section>
